<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-icon name="menu-outline" color="secondary"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title color="secondary">
        Mind-School
      </ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button autoHide="false">
        <ion-icon name="search-outline" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>

    <ion-row>
      <ion-col size-sm="12" size-md="12" size-lg="10" offset-lg="1">
        <ion-item>
          <ion-text>

                <h1 id="hello">Hello Peter!</h1>
                <h2 id="welcome">Welcome</h2><br><br><br>

                <h2 id="learn">Let's learn about</h2>


          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size-sm="12" size-md="12" size-lg="10" offset-lg="1">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-subtitle>Start with</ion-card-subtitle>
            <ion-row>
              <ion-col size-sm="7" size-md="7" size-lg="5">
                <ion-card-title class="ion-text-center">How I think and feel</ion-card-title>
              </ion-col>
              <ion-col size-sm="5" size-md="5" size-lg="5">
                <img src="../../assets/girl1.jpg" id="girl">
              </ion-col>
            </ion-row>
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size-sm="12" size-md="12" size-lg="10" offset-lg="1">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-subtitle>Start with</ion-card-subtitle>
            <ion-row>
              <ion-col size-sm="7" size-md="7" size-lg="5">
                <ion-card-title class="ion-text-center">How I act and react</ion-card-title>
              </ion-col>
              <ion-col size-sm="5" size-md="5" size-lg="5">
                <img src="../../assets/boyread.jpg" id="boy">
              </ion-col>
            </ion-row>
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size-sm="12" size-md="12" size-lg="10" offset-lg="1">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-subtitle>Start with</ion-card-subtitle>
            <ion-row>
              <ion-col size-sm="7" size-md="7" size-lg="5">
                <ion-card-title class="ion-text-center">How I move and play</ion-card-title>
              </ion-col>
              <ion-col size-sm="5" size-md="5" size-lg="5">
                <img src="../../assets/boyguitar.jpg" id="boy">
              </ion-col>
            </ion-row>
          </ion-card-header>


        </ion-card>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
